@import "tailwindcss";

@plugin "daisyui" {
  themes: dim --prefersdark, winter --default, coffee, night;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.bg-grid {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='64' height='64' fill='none' stroke='rgba(156, 163, 175, 0.1)'%3E%3Cpath d='M0 .5H31.5V32'/%3E%3C/svg%3E");
  background-size: 64px 64px;
}

body {
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

/* markdown editor styles */
.custom-markdown .CodeMirror {
  @apply bg-base-100 text-base-content rounded-md border border-base-300;
}

.custom-markdown .editor-toolbar {
  @apply bg-base-200 border-base-300 text-base-content flex gap-1;
}

.custom-markdown .editor-toolbar button:hover {
  @apply bg-base-300 border-base-content;
}

.custom-markdown .editor-toolbar button.active {
  @apply bg-base-300 border-base-content;
}

.custom-markdown .EasyMDEContainer .CodeMirror {
  @apply border-base-300! rounded-t-none! text-base-content;
}

.custom-markdown .CodeMirror-scroll {
  @apply min-h-[100px]!;
}

.custom-markdown .CodeMirror-selected {
  @apply bg-base-300!;
}
.custom-markdown .CodeMirror-line::selection,
.custom-markdown .CodeMirror-line > span::selection,
.custom-markdown .CodeMirror-line > span > span::selection {
  @apply bg-base-300!;
}
.custom-markdown .CodeMirror-line::-moz-selection,
.custom-markdown .CodeMirror-line > span::-moz-selection,
.custom-markdown .CodeMirror-line > span > span::-moz-selection {
  @apply bg-base-300!;
}

.custom-markdown .editor-preview {
  @apply bg-base-100! text-base-content!;
}

/* markdown editor styles end */

/* react-select styles */
.react-select__indicators {
  display: none !important;
}
/* react-select styles end */

.subheading-style {
  @apply label text-xl font-bold bg-primary text-primary-content rounded-lg px-4 py-2 mb-4;
}
.subtitle-style {
  @apply text-base-content/80 bg-base-100 border border-base-300 p-4 rounded-lg mb-4;
}

#disqus_thread {
  color: #050505 !important;
  background-color: #fff !important;
  padding: 10px;
  border-radius: 8px;
}
#disqus_thread a {
  color: #777 !important;
}
[data-theme="winter"] .theme-overlay {
  opacity: 20% !important;
}
